.user16
{
	background-image:url(images/add16.gif);
	width:16px;
	height:16px;
}
.user24
{
	background-image:url(images/add24.gif);
	width:24px;
	height:24px;
}
.user32
{
	background-image:url(images/add32.gif);
	width:34px;
	height:32px;	
	
}