<html>
<head>
    <title>EdoJS - 企业级Ajax框架!</title>
    <link href="../../../scripts/edo/res/css/edo-all.css" rel="stylesheet" type="text/css" />
</head>
<body style="padding:10px;">
    
</body>
</html>
<script src="../../../scripts/edo/edo.js" type="text/javascript"></script>
<script type="text/javascript">
Edo.build({
    type: 'box',
    render: document.body,
    layout: 'vertical',
    width: 600, height: 400,
    children: [
        {
            type: 'box',
            width: '100%', height: 60,
            enableCollapse: true,
            splitRegion: 'north',
            splitPlace: 'after'
        },
        {
            type: 'ct',
            width: '100%', height: '100%',
            layout: 'horizontal',
            children:[
                {
                    type: 'panel',
                    width: 200,
                    height: '100%',
                    collapseProperty: 'width',
                    enableCollapse: true,
                    splitRegion: 'west',
                    splitPlace: 'after'
                },
                {
                    type: 'box',
                    width: '100%',
                    height: '100%'
                },
                {
                    type: 'panel',
                    width: 200,
                    height: '100%',
                    collapseProperty: 'width',
                    enableCollapse: true,
                    titlebar:[
                        {
                            cls:'e-titlebar-close',
                            onclick: function(e){
                                this.parent.owner.destroy();
                            }
                        },
                        {
                            cls:'e-titlebar-toggle-east',
                            icon: 'button',
                            onclick: function(e){
                                this.parent.owner.toggle();
                            }
                        }
                    ]
                }
            ]
        },
        {
            type: 'box',
            width: '100%', height: 60,
            enableCollapse: true,
            splitRegion: 'south',
            splitPlace: 'before'
        }
    ]
    
    
});      
</script>