.icon-blank{
	background:url('icons/blank.gif') no-repeat;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat;
}
.icon-no{
	background:url('icons/no.png') no-repeat;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat;
}
.icon-search{
	background:url('icons/search.png') no-repeat;
}
.icon-print{
	background:url('icons/print.png') no-repeat;
}
.icon-help{
	background:url('icons/help.png') no-repeat;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat;
}
.icon-back{
	background:url('icons/back.png') no-repeat;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat;
}

.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat 2px 2px;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat 2px 2px;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat 3px 2px;
}
.icon-rolesetting{
background:url('icons/rolesetting.png') no-repeat;
}
.icon-child-rolesetting{
background:url('icons/rolechildsetting.png') no-repeat;
}
.icon-domainsetting{
background:url('icons/domainset.gif') no-repeat;
}
.icon-child-domainsetting{
background:url('icons/domainset.gif') no-repeat;
}
.icon-categorysetting{
background:url('icons/categoryset.gif') no-repeat;
}
.icon-child-categorysetting{
background:url('icons/categoryset.gif') no-repeat;
}
.icon-radmin-add{
background:url('icons/radminadd.gif') no-repeat;
}
.icon-cadmin-add{
background:url('icons/cadminadd.png') no-repeat;
}
.icon-dadmin-add{
background:url('icons/dadminadd.png') no-repeat;
}
.icon-home{
background:url('icons/home.png') no-repeat;
}
.icon-setting{
background:url('icons/setting.png') no-repeat;
}
.icon-logout{
background:url('icons/logout.png') no-repeat;
}
.icon-move
{
background:url('icons/reload.png') no-repeat;
}
.icon-move-up
{
background:url('icons/up.png') no-repeat;
}
.icon-move-down
{
background:url('icons/down.png') no-repeat;

}
.icon-filter
{
background:url('icons/filter.gif') no-repeat;

}
.icon-template
{
background:url('icons/template.png') no-repeat;

}
.icon-porject
{
background:url('icons/project.png') no-repeat;

}
.icon-model
{
background:url('icons/model.png') no-repeat;

}
.icon-menu
{
background:url('icons/menu.png') no-repeat;

}
.icon-man
{
background:url('icons/man.png') no-repeat;

}
.icon-woman
{
background:url('icons/woman.png') no-repeat;

}
.icon-projecttree
{
background:url('icons/projecttree.png') no-repeat;

}
.icon-domain
{
background:url('icons/domain.png') no-repeat;

}
.icon-task
{
background:url('icons/task.png') no-repeat;
}
.icon-tasktree
{
background:url('icons/job.png') no-repeat;
}
.icon-task a:link { text-decoration: none ; color: green } //正常链接文字显示绿色
.icon-task a:active { text-decoration: none ; color: yellow } //点击瞬间的链接显示黄色
.icon-task a:visited { text-decoration: none ; color: yellow } //已经访问过的链接显示红色


