body{margin:0;padding:0;font-size:12px;height:100%;color:#333;}
div,p,ul,ol,li,em,span,legend,h1,h2,h3,h4,h5,h6,textarea{margin:0;padding:0;list-style:none;font-style:normal;}
a{star:expression(this.onFocus=this.blur());outline:none;text-decoration:none;}
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
a:hover{text-decoration:underline;}
img,fieldset{border:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block}
.clear{clear:both;}
.l{float:left;display:inline;}
.r{float:right;display:inline;}
.m{display:block;margin-left:auto;margin-right:auto;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt31{margin-top:31px;}
.mt40{margin-top:40px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml50{margin-left:50px;}
.mr20{margin-right:20px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mb12{margin-bottom:12px}
.mb20{margin-bottom:20px!important;}
.padding20{padding:0 20px;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pt40{padding-top:40px;}
.pb20{padding-bottom:20px;}
.pb0{padding-bottom:0;}
.pb10{padding-bottom:10px;}
.pl90{padding-left:90px;}
.mg5{margin-left:5px!important;margin-right:5px!important;}
.fc_red{color:#cd0100;}
.fc_blue{color:#0359ae;}
.mg10{margin-left:10px !important;margin-right: 10px !important;}
.fc_blue2{color:#348ecd;}
.fc_orange{color:#ef7301;}
.fc_orange2{color:#cc3200;}
.fc_gray3{color:#333;}
.fc_gray6{color:#666;}
.fc_gray9{color:#999;}
.fc_white{color:#fff;}
.f16{font-size:16px;}
.lh12{line-height:12px;}
.lh18{line-height:18px!important;}
.lh22{line-height:22px!important;}
.lh28{line-height:28px;}
.noBorder{border:0!important;}
.noBg{background-image:none!important;}
.hide{display:none;}
.f12{font-size:12px;}
.f14{font-size:14px;line-height:1.8;}
.f18{font-size:18px;}
.f17{font-size:17px;}
.p0{padding:0;}
.bold{font-weight:bold;}
.w50{width:50px;}
.w80{width:80px;}
.w140{width:140px;}
.w200{width:200px;}
.w210{width:210px;}
.w250{width:250px;}
.w260{width:260px;}
.w266{width:266px;}
.w270{width:270px;}
.w300{width:300px;}
.w350{width:350px;}
.w340{width:340px;}
.w400{width:400px;}
.w470{width:470px;}
.w500{width:500px;}
.w510{width:510px;}
.w550{width:550px;}
.w410 {width: 410px;}
.w595{width:595px;}
.w600{width:600px;}
.w690{width:690px;}
.w705{width:705px;}
.w710{width:710px;}
.w745{width:745px;}
.w770{width:770px!important;}
.w852{width:852px;}
.w935{width:935px;}
.h100{height:100px;}
.vat{vertical-align:top}
.vam{vertical-align:middle}
.ti2em{text-indent:2em;}
.ti0{text-indent:-9999em;}
.ti90{text-indent:90px;}
.ti150{text-indent:150px;}
.fw_n{font-weight:normal;}
/*@-moz-document url-prefix(){}*/
.hand { cursor:pointer}

/*2011-11-02*/
a:hover{color:#cd0100;}
.mt3{margin-top:31px;}
.pt5{padding-top:5px;}

/*2012-03-16*/
.mt28{margin-top:28px;}
.imgBorder{border:1px solid #ccc;padding:2px;}
.nowrap{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

/*2012-06-22*/
.imgBorder{border:1px solid #c0c1bc;padding:2px;}
.noBorder_b{border-bottom:0!important;}
.tbd-w300{width:298px!important;}