@CHARSET "UTF-8";
a{
	cursor: pointer;
}


a:link, a:visited {
    color: #014A8F;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
.headerarea{
	background-image: url("images/banner0.png"); 
}

.leftarea{
	background-image: url("images/Ferrari1.jpg");
	margin-top: 3px;
}

.cims201_topbar_icon{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
	margin-top:1px;
	backgroud-color: silver;
	font-size: 11px;
	font-weight:bolder;
	font-style:inherit;
	color: black;
}